server:
  port: 8200

spring:
  application:
    name: springcloud-product-consume-8200

eureka:
  instance:
    instance-id: ${spring.application.name}
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8300/eureka/,http://localhost:8301/eureka/